.d-admin{
    height: 90%;
    width: 100%;
}

.menu-top{
    display: flex;
    height:15%;
    width: 100%;
    background-color: white;
    border-bottom: 2px solid rgb(0, 0, 0, 0.2);
    justify-content: center;
}

.menu-top form{ 
    display: flex;
}

.menu-chamados{
    height: 90%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sec1, .sec2, .sec3, .sec4{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding-top: 20px;
    background-color: white;
    padding-left: 10px;
}

.sec2-bot{
    display: flex;
}
.sec2-bot span{
    margin: 10px;
}
.sec4-bot{
    display: flex;
}
.sec4-bot #buscar{
    margin-left: 30px;
}

.menu-top input, option, select{
    height: 40px;
    width: 200px;
    font-size: 15px;
    padding-left: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 200px;
    width: 250px;
    background-color: rgb(195, 227, 238);
    margin: 10px;
    
}

.card .head{
    display: flex;
}
.card .head-left{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    margin: 0px 10px 0 0;
}

.card .head-right{
    display: flex;
    justify-content: flex-end;
}

.card .circle{
    display: flex;
    width: 25px;
    height: 25px;
    border-radius: 15px;
    margin: 5px;
}

.card .body{
    margin: 5px 10px 0px 10px;
}

.card h3{
    overflow: hidden;
    text-overflow: ellipsis;
}

/* ------------------- Visão do Usuário ------------------------- */
.d-usuario{
    height: 90%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



/* ------------------- Visão do Operador ------------------------- */

.d-operador{
    height: 90%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.d-operador .novo{
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;
    align-items: center;
    height: 100%;
    width: 32%;
    background-color: rgb(233, 248, 255);
}

.d-operador .fazendo{
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;
    align-items: center;
    height: 100%;
    width: 32%;
    background-color: rgb(233, 248, 255);
}

.d-operador .finalizado{
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;
    align-items: center;
    height: 100%;
    width: 32%;
    background-color: rgb(233, 248, 255);
}

.d-operador h2{
    position: relative;
}