<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Usuario</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cadastroUsuario.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gudea:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

</head>
<body>
    <nav class="navbar-menu">
    <a class="titulo-menu" style="margin-left: 10px;" href="#">Callify</a>
    <div class="navbar-content">
        <div class="left">
            <ul class="list">
                <li><a href="{{ url_for('menu') }}">Chamados</a></li>
                <li><a href="{{ url_for('cadastroUsuario') }}">Usuarios</a></li>
            </ul>
        </div>
        <div class="right">
            <form action="{{ url_for('logout') }}" method="get">
                <button type="submit" class="btn btn-danger">Logout</button>
            </form>
            <p>{{ cargo }}</p>
            <p>-</p>
            <p>{{ matricula }}</p>   
        </div>
    </div>
    </nav>
    <section class="menu-prim">
        <div class="menu-secundario">
            <div class="menu-secundario-top">
                <span>Matricula</span>
                <input type="text" name="matricula">
                <span>Nome</span>
                <input type="text" name="nome">
                <span>Senha</span>
                <input type="password" name="senha">
                <span>Confirmar a senha</span>
                <input type="password" name="senha_confirmacao">
            </div>
            <div class="menu-secundario-bot">
                <span>Cargo</span>
                <select name="situacao" id="situacao">
                    <option value="">Selecione uma situação</option>
                    {% for cargo in cargo_options %}
                        <option value="{{ status.idStatus }}">{{ status.nm_status }}</option>
                    {% endfor %}
                </select>
                <button onclick="cadastrarUsuario()" name="salvar">Salvar</button>
                <button onclick="excluirUsuario()">Excluir</button>

                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                    <div class="alert alert-{{ category }}" style="margin-top: 20px;">{{ message }}</div>
                    {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
            
        </div>

    </section>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/js/cadastroUsuario.js"></script>
</body>
</html>