<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contatos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/quemSomos-contatos.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gudea:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar-menu">
        <a class="titulo-menu" style="margin-left: 10px;" href="#">Callify</a>
        <div class="navbar-content">
            <div class="left">
                <ul class="list">
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="{{ url_for('quemSomos') }}">Quem Somos</a></li>
                    <li><a href="{{ url_for('contatos') }}">Contatos</a></li>
                </ul>
            </div>
            <div class="right">
                <a href="{{ url_for('cadastro') }}">
                    <button type="button" class="cadastro">Sign In</button>
                </a>
                <a href="{{ url_for('login') }}">
                    <button type="button" class="login"> Login In</button>
                </a>
                
            </div>
        </div>
    </nav>
    <section class="section-menu">
        <div class="background">
            <img src="/static/images/help-desk-icon.png" alt="fundo quem somos" height="100%" width="100%">
            <div class="background-text">
                <h1>Contatos </h1>
                <i>
                    Você é novo por aqui? Está interessado nos nossos serviços? É simples! <br>
                    Basta entrar em contato apartir desse número (84) 9 8888 8888, funcionamos em horário comercial:<br>
                    <br>
                    07:00 às 17:00 - Segunda a Sexta <br>
                    12:00 às 14:00 - Sábados e Domingos <br>
                </i>
                <i> Ou você pode entrar em contato diretamente pelo nosso e-mail 
                    <div style="margin-left: 10px; color: blue;">contatos@callify.net</div>
                </i>
            </div>
        </div>
    </section>
    
</body>
</html>