<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gudea:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar-menu">
        <a class="titulo-menu" style="margin-left: 10px;" href="#">Callify</a>
        <div class="navbar-content">
            <div class="left">
                <ul class="list">
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="{{ url_for('quemSomos') }}">Quem Somos</a></li>
                    <li><a href="{{ url_for('contatos') }}">Contatos</a></li>
                </ul>
            </div>
            <div class="right">
                <a href="{{ url_for('cadastro') }}">
                    <button type="button" class="cadastro">Sign In</button>
                </a>
            </div>
        </div>
    </nav>

    <section class="section-menu">
        <div class="background">
            <div class="left">
                <img src="/static/images/menuLogin.png" alt="Menu principal" width="1000px" height="700px">
            </div>
            <div class="right">
                <div class="r-up">
                    <h2>Login</h2>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">{{ message }}</div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    <form action="{{ url_for('login') }}" method="POST">
                        <div class="login">
                            <i>Username</i>
                            <input type="text" name="username" placeholder="Username" required>
                        </div>
                        <div class="password">
                            <i>Password</i>
                            <input type="password" name="password" placeholder="Password" required>
                        </div>                  
                        </div>
                        <div class="r-down">
                            <button type="submit">Entrar</button>
                            <a href=""><i>Esqueceu a senha?</i></a>
                        </div>
                    </form>
            </div>

        </div>
    </section>

</body>
</html>