<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-icons.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gudea:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

</head>
<body>
    <nav class="navbar-menu">
    <a class="titulo-menu" style="margin-left: 10px;" href="#">Callify</a>
    <div class="navbar-content">
        <div class="left">
            <ul class="list">
                {% if cargo == 'admin' %}
                <li><a href="{{ url_for('menu') }}">Chamados</a></li>
                <li><a href="{{ url_for('cadastroUsuario') }}">Usuarios</a></li>
                {% endif %}
                {% if cargo == 'usuario' %}
                <li><a href="{{ url_for('menu') }}">Meus chamados</a></li>
                <li><a href="{{ url_for('novoChamado') }}">Novo chamado</a></li>
                {% endif %}
                {% if cargo == 'operador' %}
                <li><a href="{{ url_for('menu') }}">Chamados</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="right">
            <form action="{{ url_for('logout') }}" method="get">
                <button type="submit" class="btn btn-danger">Logout</button>
            </form>
            <p>{{ cargo }}</p>
            <p>-</p>
            <p>{{ matricula }}</p>   
        </div>
    </div>
    </nav>
    {% if cargo == 'admin' %}
        <section class="d-admin exibirDisplay" name="interface">
            <nav class="menu-top">
            <form action="/buscar" method="GET">
                <div class="sec1">
                    <div class="sec4-top"><span>Operador</span></div>
                    <div class="sec4-bot">
                        <input type="text" name="operador" id="operador">
                    </div>
                </div>
                <div class="sec2">
                    <div class="sec2-top"><span>Periodo</span></div>
                    <div class="sec2-bot">
                        <input type="date" name="start-date" id="start-date">
                        <span>até</span>
                        <input type="date" name="end-date" id="end-date">
                    </div>
                    
                    
                </div>
                <div class="sec3">
                    <div class="sec3-top"><span>Situação</span></div>
                    <select name="situacao" id="situacao">
                        <option value="">Selecione uma situação</option>
                        {% for status in status_options %}
                            <option value="{{ status.idStatus }}">{{ status.nm_status }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="sec4">
                    <div class="sec4-top"><span>Protocolo</span></div>
                    <div class="sec4-bot">
                        <input type="text" name="protocolo" id="protocolo">
                        <input type="submit" value="Buscar" id="buscar" onclick="">
                    </div>
                </div>
            </form>
            </nav>
            <nav class="menu-chamados">
                {% for chamado in campos %}
                    <div class="cardInterface" 
                    data-idChamado="{{ chamado[0] }}"
                    data-titulo="{{ chamado[1] }}"
                    data-descricao="{{ chamado[2] }}"
                    data-responsavel="{{ chamado[12] }}"
                    data-operador="{{ chamado[10] }}"
                    data-urgencia="{{ chamado[11] }}"
                    data-observacao="{{ chamado[4] }}"
                    data-criado="{{ chamado[8] }}"
                    data-status="{{ chamado[13] }}">
                        <div class="card" id="card" onclick="buscarInformacoes(this), abrirDisplay()">
                            <div class="head">
                                <div class="head-left">
                                    <p>Status: {{ chamado[13] }}</p>
                                </div>
                                <div class="head-right">
                                    <div class="circle {%if chamado[3] == 1%} cor-cinza {%elif chamado[3] == 2%} cor-amarelo {%elif chamado[3] == 3%} cor-verde {%elif chamado[3] == 4%} cor-vermelho {% endif %}"></div>
                                </div>
                            </div>
                            <div class="body">
                                <h3 style="margin-bottom: 5px;">Título: {{ chamado[1] }}</h3>
                                <p>Responsável: {{ chamado[12] }}</p>
                                <p>Operador: {{ chamado[10] if chamado[10] else 'Não atribuido' }}</p>
                                <p>Urgência: {{ chamado[11] }}</p>
                                <p>Criado em: {{ chamado[8] }}</p>
                            </div>
                            
                        </div>
                    </div>
                {% endfor %}
            </nav>
        </section>
    {% endif %}

    {% if cargo == 'usuario' %}
        <section class="d-usuario exibirDisplay" name="interface">
            {% for chamado in campos %}
            <div class="cardInterface"
                data-idchamado="{{ chamado[0] }}"
                data-titulo="{{ chamado[1] }}"
                data-descricao="{{ chamado[2] }}"
                data-responsavel="{{ chamado[12] }}"
                data-operador="{{ chamado[10] }}"
                data-urgencia="{{ chamado[11] }}"
                data-observacao="{{ chamado[4] }}"
                data-criado="{{ chamado[8] }}"
                data-status="{{ chamado[13] }}">
                <div class="card" id="card" onclick="buscarInformacoes(this), abrirDisplay()">
                    <div class="head">
                        <div class="head-left">
                            <p>Status: {{ chamado[13] }}</p>
                        </div>
                        <div class="head-right">
                            <div class="circle {%if chamado[3] == 1%} cor-cinza {%elif chamado[3] == 2%} cor-amarelo {%elif chamado[3] == 3%} cor-verde {%elif chamado[3] == 4%} cor-vermelho {% endif %}"></div>
                        </div>
                    </div>
                    <div class="body">
                        <h3 style="margin-bottom: 5px;">Título: {{ chamado[1] }}</h3>
                        <p>Responsável: {{ chamado[12] }}</p>
                        <p>Operador: {{ chamado[10] if chamado[10] else 'Não atribuido' }}</p>
                        <p>Urgência: {{ chamado[11] }}</p>
                        <p>Criado em: {{ chamado[8] }}</p>
                    </div>
                    
                </div>
            </div>
            {% endfor %}
        </section>
    {% endif %}

    {% if cargo == 'operador' %}
        <section class="d-operador exibirDisplay" name="interface">
            <div class="novo">
                <h2>Novos</h2>
                {% for chamado in novos %}
                <div class="cardInterface"
                    data-idChamado="{{ chamado[0] }}"
                    data-titulo="{{ chamado[1] }}"
                    data-descricao="{{ chamado[2] }}"
                    data-responsavel="{{ chamado[12] }}"
                    data-operador="{{ chamado[10] }}"
                    data-urgencia="{{ chamado[11] }}"
                    data-observacao="{{ chamado[4] }}"
                    data-criado="{{ chamado[8] }}"
                    data-status="{{ chamado[13] }}">
                    <div class="card" id="card" onclick="buscarInformacoes(this), abrirDisplay()">
                        <div class="head">
                            <div class="head-left">
                                <p>Status: {{ chamado[13] }}</p>
                            </div>
                            <div class="head-right">
                                <div class="circle {%if chamado[3] == 1%} cor-cinza {%elif chamado[3] == 2%} cor-amarelo {%elif chamado[3] == 3%} cor-verde {%elif chamado[3] == 4%} cor-vermelho {% endif %}"></div>
                            </div>
                        </div>
                        <div class="body">
                            <h3 style="margin-bottom: 5px;">Título: {{ chamado[1] }}</h3>
                            <p>Responsável: {{ chamado[12] }}</p>
                            <p>Operador: {{ chamado[10] if chamado[10] else 'Não atribuido' }}</p>
                            <p>Urgência: {{ chamado[11] }}</p>
                            <p>Criado em: {{ chamado[8] }}</p>
                        </div>
                        
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="fazendo">
                <h2>Fazendo</h2>
                {% for chamado in fazendo %}
                <div class="cardInterface"
                    data-idChamado="{{ chamado[0] }}"
                    data-titulo="{{ chamado[1] }}"
                    data-descricao="{{ chamado[2] }}"
                    data-responsavel="{{ chamado[12] }}"
                    data-operador="{{ chamado[10] }}"
                    data-urgencia="{{ chamado[11] }}"
                    data-observacao="{{ chamado[4] }}"
                    data-criado="{{ chamado[8] }}"
                    data-status="{{ chamado[13] }}">
                    <div class="card" id="card" onclick="buscarInformacoes(this), abrirDisplay()">
                        <div class="head">
                            <div class="head-left">
                                <p>Status: {{ chamado[13] }}</p>
                            </div>
                            <div class="head-right">
                                <div class="circle {%if chamado[3] == 1%} cor-cinza {%elif chamado[3] == 2%} cor-amarelo {%elif chamado[3] == 3%} cor-verde {%elif chamado[3] == 4%} cor-vermelho {% endif %}"></div>
                            </div>
                        </div>
                        <div class="body">
                            <h3 style="margin-bottom: 5px;">Título: {{ chamado[1] }}</h3>
                            <p>Responsável: {{ chamado[12] }}</p>
                            <p>Operador: {{ chamado[10] if chamado[10] else 'Não atribuido' }}</p>
                            <p>Urgência: {{ chamado[11] }}</p>
                            <p>Criado em: {{ chamado[8] }}</p>
                        </div>
                        
                    </div>
                </div>
                {% endfor %}

            </div>
            <div class="finalizado">
                <h2>Finalizado</h2>
                {% for chamado in finalizado %}
                <div class="cardInterface"
                    data-idChamado="{{ chamado[0] }}"
                    data-titulo="{{ chamado[1] }}"
                    data-descricao="{{ chamado[2] }}"
                    data-responsavel="{{ chamado[12] }}"
                    data-operador="{{ chamado[10] }}"
                    data-urgencia="{{ chamado[11] }}"
                    data-observacao="{{ chamado[4] }}"
                    data-criado="{{ chamado[8] }}"
                    data-status="{{ chamado[13] }}">
                    <div class="card" id="card" onclick="buscarInformacoes(this), abrirDisplay()">
                        <div class="head">
                            <div class="head-left">
                                <p>Status: {{ chamado[13] }}</p>
                            </div>
                            <div class="head-right">
                                <div class="circle {%if chamado[3] == 1%} cor-cinza {%elif chamado[3] == 2%} cor-amarelo {%elif chamado[3] == 3%} cor-verde {%elif chamado[3] == 4%} cor-vermelho {% endif %}"></div>
                            </div>
                        </div>
                        <div class="body">
                            <h3 style="margin-bottom: 5px;">Título: {{ chamado[1] }}</h3>
                            <p>Responsável: {{ chamado[12] }}</p>
                            <p>Operador: {{ chamado[10] if chamado[10] else 'Não atribuido' }}</p>
                            <p>Urgência: {{ chamado[11] }}</p>
                            <p>Criado em: {{ chamado[8] }}</p>
                        </div>
                        
                    </div>
                </div>
                {% endfor %}

            </div>
        </section>
    {% endif %}

    <section class="d-card" style="display: none">
        <div class="d-card-menu">
            <div class="d-card-top">
                <p>Titulo</p>
                <input type="text" name="titulo" id="titulo">
                <p>Descrição</p>
                <textarea name="descricao" id="descricao"></textarea>
            </div>
            <div class="d-card-bot">
                <div class="left">
                    {% if cargo == 'admin' or cargo == 'usuario' %}
                    <p>Status:</p> <span id="status"></span>
                    <p>Responsável</p> <span id="responsavel"></span>
                    <p>Observação</p> <span id="observacao"></span>
                    <p>Urgência:</p> <span id="urgencia"></span>
                    <p>Operador: </p> <span id="operador"></span>
                    {% endif %}

                    {% if cargo == 'operador' %}
                    <p>Status:</p> <span id="status"></span>
                    <p>Responsável</p> <span id="responsavel"></span>
                    <p>Observação</p> <span id="observacao"></span>
                    <p>Urgência:</p> <span id="urgencia"></span>
                    {% endif %}

                </div>
                <div class="right">
                    <button name="voltar" onclick="fecharDisplay()">Voltar</button>
                    {% if cargo == 'operador' %}
                            <button name="pegarChamado" onclick="pegarChamado()">Atribuir</button>
                            <button name="soltarChamado">Desatribuir</button>
                            <button name="finalizarChamado">Finalizar</button>
                    {% endif %}
                </div>
            </div>
            <p id="idchamado" name="idchamado" style="display: none;" data-matricula="{{ matricula }}"></p>
        </div>
        
    </section>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/js/menu.js"></script>

</body>
</html>